body {
    position: absolute;
    right: 40%;
}

h2 {
    position: relative;
    text-align: center;
}

#count {
    position: relative;
    text-align: center;
}

.container {
    position: relative;
    top: 30px;
    background-color: lightblue;
}